.notification {
  background: #FFFFFF;
  border-radius: 4px;
  border:solid 1px #f1f1f1;
  box-shadow: 0px 24px 64px rgba(45, 48, 58, 0.06);
  padding:0px 10px 0px 10px;
}

.title {
  color:firebrick;
  font-size: 20px;
}